GOOGLE_VISION_API_KEY=your_google_vision_api_key

EBAY_COMPLIANCE_ENDPOINT=your_compliance_endpoint
NOTIFICATION_ENDPOINT_URL=the_token_you_entered_in_ebay

EBAY_CLIENT_ID=your_client_id
EBAY_CLIENT_SECRET=your_client_secret
EBAY_REFRESH_TOKEN=your_refresh_token
EBAY_RUNAME=your_runame
EBAY_ENVIRONMENT=production

EBAY_FULFILLMENT_POLICY_ID=your_policy_id
EBAY_PAYMENT_POLICY_ID=your_policy_id
EBAY_RETURN_POLICY_ID=your_policy_id